#resume{
    background-color: blue;
    height: 500px;
    margin-top: 10px;
    position: relative;
}

#about{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    text-align: center;
    font-weight: lighter;
    padding: 15%;
    
}

