footer {
    background-color: #555353;
}
#start {
    background-color: #db6930;
}
#youtube{
    background-color: #54456b;
}
#twitter{
    background-color: #54456b;
}
#instagram{
    background-color: #54456b;
}
#facebook{
    background-color: #54456b;
}